@using System.Security.Claims;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    ClaimsIdentity ci = User.Identity as ClaimsIdentity;

}
@foreach(Claim c in ci.Claims)
{
    <b>@c.Type :</b> @c.Value <br />
}
